<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>service.Search</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>service.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>service.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Middle</servlet-name>
    <servlet-class>service.Middle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reviseuser</servlet-name>
    <servlet-class>service.Reviseuser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Publish</servlet-name>
    <servlet-class>service.Publish</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/servlet/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Middle</servlet-name>
    <url-pattern>/servlet/Middle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reviseuser</servlet-name>
    <url-pattern>/servlet/Reviseuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Publish</servlet-name>
    <url-pattern>/servlet/Publish</url-pattern>
  </servlet-mapping>

</web-app>